/* Este es un comentario de CSS */

*{
    font-family: 'Courier New', Courier, monospace;
    
}


h6{
    /* border: 10px dotted blue;  */
    border-top: 2px solid blue;

    border-bottom: 2px sandybrown;
    border-bottom: cornsilk;

    text-decoration: solid;
    text-align: center;

    
}
